<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>/Register First</title>
</head>
<body>
<div>
<form action="/login" class="login" method="post">
    <p style="color: #ffffff">登录界面</p>
    <input type="text" name="username" placeholder="">
    <input type="password" name="password" placeholder="">
    <button class="btn"  type="submit">登录</button>
    <span style="color: black">{{.message}}</span>
</form>
</div>
</body>
</html>