<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>RegReg</title>
</head>
<body>
<form action="/register" class="login" method="post">
    <p style="color: #ffffff">注册界面</p>
    <input type="text" name="username" placeholder="">
    <input type="password" name="password" placeholder="">
    <button type="submit" class="btn">注册</button>
    <span>{{.message}}</span>
</form>
</body>
</html>